{% extends 'layouts/main.html' %}
{% block title %}Search | SimpleStore{% endblock %} 
{% block content %}
{% if products == None %}
<div class="flex col center align-center">
  <!--Only show the form for searching-->
  {% include '/forms/search_form.html' %}
</div>
{% else %}
<h1>Results for: {{query}}</h1>
<div class="flex row center">
<!--Show the results of the query. (Products are going to be given through response)-->
{% include '/layouts/product_view.html' %}
</div>
{% endif %}
{% endblock %} 
