<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Styles-->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <!--/Styles-->

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <section id="container">
  <nav> 
    <ul class="header flex ">
      <section class="flex row-center">
      <li><a href="/">Home</a></li>
      {% if not userid %}
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
      {% else %}
      <li><a href="/products">Products</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/orders">Orders</a></li>
      <li><a href="/cart">Cart</a></li>
      {% endif %}
      </section>
      {% if not userid %} 
      <section>
      <li><a href="/signin">Sign In</a> / <a href="/signup">Sign Up</a></li>
      </section>
      {% else %} 
      <section class="flex row center">
      <li><a href="/signout">Sign Out</a></li>
      <li><a href="/account">Account</a></li>
      </section>
      {% endif %} 
    </ul>
  </nav>

  <!--Flash Layout-->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flex col center">
    {% for category, message in messages %}
      <div class="flash flex align-center {{category}}">
        <p><strong>{{category}}</strong>: {{ message }} </p>
        <button onclick="closeFlash(this)">X</button>
      </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  <section id="body">
  {% block content %}
  {% endblock %}
  </section>

  <footer class="flex align-center">
    <p><strong>Mario Molinito</strong></p>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </footer>

  </section>
  <!--Scripts-->
  <script src="/static/js/main.js"></script>
</body>
</html>
