body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/*      Header    */
nav {
  padding: 0;
  background: black;
  width: 100%;
}
ul {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
.header {
  width: 100%;
  justify-content: space-around;
  padding: 2em 0;
}
ul li {
  list-style-type: none;
  padding: 0 .5em;
}
a {
  color: white;
  text-decoration: none;
}

/*Following lines to place footer the bottom*/
#container {
  min-height: 100%;
  position: relative;
}
#body {
  width: 100%;
  text-align: center;
  padding-bottom: 80px;
}

/*    Footer    */
footer {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  background: black;
  margin: 0;
  padding: 1em 0;
  color: white;
  justify-content: space-around;
}
footer ul {
  z-index: 100;
  font-size: .8em;
}
/*END*/


/* PRODUCT */
.button {
  background: blue;
  color: white;
  margin-left: 1em;
}
.button:hover {
  text-decoration: underline;
}
.owner {
  border: none;
  right: 0;
  top: 0;
  position: absolute;
  padding: .7em 1em;
  border-radius: 1em;
  background: green;
  color: white;
}

.product_view {
  width: 200px;
  position: relative;
  padding: .5em;
  border: 1px solid black;
  border-radius: 1em;
  text-align: left;
  justify-content: space-between;
}
.product_view p {
  max-width: 100%;
}
.product_view button {
  display: inline-block;
}
.product_container {
  flex-wrap: wrap;
}
.new_products {
  width: 60%;
}
.product_image {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}
.inCart {
  width: 100%;
  background: blue;
  color: white;
  border: none;
}
/* END PRODUCT */

/*                FLASH                  */
.flash {
  height: 5vh;
  width: 100%;
  justify-content: space-around;
  color: white;
}
.success {
  background: rgb(0, 255, 0, 0.5);
}
.info {
  background: rgb(0, 0, 230, 0.5);
}
.error {
  background: rgb(255, 0, 0, 0.5);
}

/*  Cart */
.cart {
  position: relative;

}
.cart_notif {
  right: 0;
  top: 0;
  font-size: .7em;
  position: absolute;
  color: white;
  background: red;
}


/*    Generic   */
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
.center {
  justify-content: center;
}
.align-center {
  align-items: center;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,p {
  margin: 0;
  padding: 0;
}
.hidden {
  display: none !important;
}
.disabled { 
  opacity: 70%;
}
.disabled:hover {
  cursor: not-allowed;
}
